<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page">
                        <a href="<%= indexLink %>">Home</a>
                    </li>
                    <% _.map(category, function(item) { %>
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="<%= indexLink + "?id=" + item.id %>"><%= item.name %></a>
                        </li>
                    <% }); %>
                </ol>
            </nav>
        </div>
    </div>
</div>