<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-right">Copyright 2013 OSF Global Services</p>
            </div>
        </div>
    </div>
</footer>