<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="<%= indexLink %>"><%= title %></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <% _.each(items, function(topC){ %>
                                <li class="nav-item">
                                    <a class="nav-link btn <%= topC.id == "womens" ? "active btn-primary" : "btn-secondary" %>"
                                       href="<%= topC.id == "womens" ? indexLink + '?id=womens' : indexLink + "?id=mens" %>"><%= topC.name %></a>
                                </li>
                            <% }); %>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>