<!DOCTYPE html>
<html>
	<head>
    	<title><%= title %></title>

		<!-- Style sheets -->
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css" />

		<!-- Scripts -->
		<script src="/javascripts/jquery-3.2.1.slim.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>

  	</head>
  	
  	<body>
		<%- include('partials/header') -%>

		<%- include('partials/breadcrumbs') -%>

		<section>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<% _.map(category, function(item) { %>
							<h1><%= item.name %></h1>
							<p class="pb-5"><%= item.page_description %></p>
						<% }); %>
					</div>
				</div>
				<% _.each(category, function(topC) { %>
					<% _.each(topC.categories, function(subC) { %>
					<div class="row">
						<div class="col-12">
							<article class="subCategories">
								<h2><%= subC.name %></h2>
								<% if (subC.image) { %>
									<div>
										<img src="/images/<%= subC.image %>">
									</div>
								<% } %>
								<p class="pt-3"><%=subC.page_description %></p>
								<a href="#" class="btn btn-secondary">View products</a>
								<hr>
							</article>
						</div>
					</div>
					<% }); %>
				<% }); %>
			</div>
		</section>

		<%- include('partials/footer') -%>
  	</body>
</html>