body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*a {*/
  /*color: #00B7FF;*/
/*}*/

header {
    border: 2px solid;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    font-size: 2.25rem;
}

.nav-item:first-child {
    margin-right: 10em;
}

.navbar-expand-lg .navbar-nav .nav-link,
.navbar-expand-lg .navbar-nav .nav-link.active {
    color: #fff;
    display: flex;
    justify-content: center;
    width: 135px;
    padding: 5px 15px;
    border-radius: 20px;
}

.breadcrumb {
    background-color: #fff;
    padding: 0;
    margin-top: 1rem;
}

section h1,
section h2 {
    color: red;
}

section img {
    width: 100%;
}

section p {
    /*margin-top: 1.5em;*/
}

section .btn-secondary {
    border-radius: 20px;
    padding: 0 6px;
}

hr {
    border-color: #000;
}
